parameters:
    level: max
    autoload_directories:
        - %currentWorkingDirectory%/app
        - %currentWorkingDirectory%/core
        - %currentWorkingDirectory%/public
    autoload_files:
        - %currentWorkingDirectory%/app/functions/db.php
        - %currentWorkingDirectory%/app/functions/helpers.php
    paths:
        - %currentWorkingDirectory%/app/controllers/ContainerController.php